<div class="col-md-4">

    <article class="card beers-card">
        <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title"><a href="/beerpartial/beer-{{id}}">{{name}}</a></h5>
            <p class="card-text">{{tagline}}</p>
            <p>{{description}}</p>
    </article>

</div>